*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: 'SF Pro Text';
}

.container{
    width: 100%;
    max-width: 1272px;
    margin: 0 auto;
}

.top{
    background-color: rgba(69, 79, 91, 1);
    height: 44px;
    display: flex;
    padding-top: 9px;
}

.top p{
    padding-left: 452px;
    padding-right: 197px;
    color: rgba(255, 255, 255, 1);
}

.top a{
    color: rgba(255, 255, 255, 1);
}

.header__container{
    height: 82px;
    box-shadow: 0px -1px 0px 0px color rgba(196, 205, 213, 1)); 
}
.logo-nav img{
    margin-top: 20px;
}

.logo-nav{
    display: flex;
    justify-content: space-around;
}

.nav{
    display: flex;
    padding-top: 29px;
    padding-left: 101.5px;
    gap: 32px;
}

.nav .nav-list{
    list-style: none;
}

.nav-list a{
text-decoration: none;
font-size: 20px;
font-weight: 300;
line-height: 24px;
color: rgba(22, 28, 36, 1);
transition: all 0.5s;

}

.nav-list a:hover{
    color:green;
}

.tel{
    width: 185px;
    height: 21px;
    display: flex;
    padding-top: 30px;
    gap: 8px;
}

.tel img{
    margin-top: 0;
}

.buttons{
    display: flex;
    padding-right: 53px;
    gap: 24px;
}

.menu-first{
    display: flex;
    padding-top: 20px;
}

.menu-first h2{
font-size: 16px;
font-weight: 400;
line-height: 26px;
color: rgba(22, 28, 36, 1);
padding-left: 43px;
}

.menu-first p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(102, 88, 88); 
}

.menu-second{
    display: flex;
    padding-top: 40px;
    padding-left: 43px;
    gap: 12px;
}

.menu-second h2{
font-size: 28px;
font-weight: 600;
line-height: 42px;
}

.menu-second p{
font-size: 18px;
font-weight: 300;
line-height: 28px;
padding-top: 9px;
}

.menu-third{
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    
}

.first-buttons{
    display: flex;
    gap: 31px;
}

.first-buttons h3{
    width:288px;
    height:40px;
    padding: 7px 72px 7px 72px;
    gap: 10px;
    border: 1px solid rgba(173, 215, 255, 1);
    margin-left: 43px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    
}

.first-buttons h4{
padding-top: 11px;
font-size: 14px;
font-weight: 400;
line-height: 24px;

}

.second-button{
margin-right: 99px;
display: flex;
justify-content: space-between;
gap: 32px;
width: 194px;
height: 40px;
padding: 7px 16px 7px 16px;
gap: 16px;
border: 1px solid rgba(196, 205, 213, 1);
}

.second-button h3{
font-size: 16px;
font-weight: 400;
line-height: 26px;
}

.second-button a{
    padding-top: 5px;
}

.filtr{
    margin-top: 32px;
    width:288px;
    height:460px;
    padding: 24px 0px 0px 0px;
    gap: 10px;
    border-radius: 2px;
    border: 1px solid rgba(196, 205, 213, 1);  
}

.filtr h2{
    margin-left: 24px;
    margin-bottom: 47px;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
       
}

.filtr .narhi{
    display: flex;
    justify-content: space-between;
}
.filtr .narhi h3{
    padding-left: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px; 
}

.narhi a{
    padding-right: 24px;
    margin-top: 5px;
}

.filtr .price{
    padding-top: 49px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.price-1{
    padding-top: 10px;
    padding-left: 26px;
    margin-left: 24px;
    width: 116px;
    height: 44px;
    border: 1px solid rgba(66, 149, 228, 1);    
}

.price-2{
    padding-top: 10px;
    padding-left: 26px;
    margin-right: 24px;
    width: 116px;
    height: 44px;
    border: 1px solid rgba(234, 234, 234, 1);    
}

.hususiyat{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.hususiyat h3{
    padding-left: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px; 
}

.hususiyat a{
    padding-right: 24px;
}

.rangi{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.rangi h3{
    padding-left: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px; 
}

.rangi a{
    padding-right: 24px;
}

.material{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.material h3{
    padding-left: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px; 
}

.material a{
    padding-right: 24px;
}

.olcham{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.olcham h3{
    padding-left: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px; 
}

.olcham a{
    padding-right: 24px;
}

.cards__container{
    width: 1272px;
    display: flex;
    justify-content: space-between;
}

.footer{
    width: 288px;
    height: 133px;
    box-shadow: 1px -1px 0px 1px rgba(234, 234, 234, 1) inset;
}

.footer-1 img{
    padding-top: 2.5px;
    margin-left: 12px;
    width: 104px;
    height: 16px;
}

.footer-1{
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.footer-1 p{
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 0;    
}

.footer-2{
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
    color: rgba(69, 79, 91, 1);
    
}

.narhi{
    padding-top: 10px;
    padding-left: 12px;
    display: flex;
    gap: 12px;
}

.narhi-1{
    font-size: 20px;
    font-weight: 600;
    line-height: 23.87px;    
}

.narhi-2{
    font-size: 18px;
    font-weight: 300;
    line-height: 21.48px;
    color: rgba(69, 79, 91, 1);
    padding-top: 1.5px;
        
}

.card{
    display: flex;
    justify-content: space-between;
    width:924px;
    height:1932px;
    margin-top: 32px;
    margin-left: 30px;
    gap: 30px;
    flex-direction: column;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.yaqinda__container h2{
    font-family: 'SF Pro Text';
    font-size: 44px;
    font-weight: 600;
    line-height: 62px;
    padding-top: 100px;
    padding-bottom: 64px;
}

.hero__container{
    width: 1240px;
    height: 564px;
    display: flex;
    justify-content: space-between;
}

.title h3{
    font-family: 'SF Pro Text';
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    margin-top: 96px;
    padding-top: 81px;
}
.title p{
    padding-top: 24px;
    font-family: 'SF Pro Text';
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(69, 79, 91, 1);
    
}

.black-ruchka img{
    width: 605px;
    height: 564px;
    margin-top: 96px;
}

.white-thing img{
    width: 605px;
    height: 564px;
    margin-top: 178px;  
}

.titles h3{
    font-family: 'SF Pro Text';
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    margin-top: 96px;
    padding-top: 165px;
}
.titles p{
    padding-top: 24px;
    font-family: 'SF Pro Text';
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(69, 79, 91, 1);
    
}

.wrapper{
    padding-top: 280px;
}

.wrapper__container{
    margin-top: 100px;
    width: 1440px;
    height: 332px;
    background-color: rgba(242, 248, 255, 1);
}

.wrapper__container h2{
    font-family: 'SF Pro Text';
    font-size: 44px;
    font-weight: 600;
    line-height: 62px;
    text-align: center;
    padding-top: 64px;
    padding-bottom: 24px;
}

.wrapper__container p{
    font-family: 'SF Pro Text';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: rgba(69, 79, 91, 1);
    padding-bottom: 24px;
}

.wrapper__container a{
    width: 748px;
    height: 50px;
    margin-left: 235px;
}

.footer__container img{
    margin-left: 30px;
    margin-top: 0px;
}